@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	button,
	a {
		@apply cursor-pointer;
		@apply text-xl;
		@apply font-bold;
		@apply p-4;
		@apply rounded-lg;
		@apply bg-main-2;
		@apply w-auto;
		@apply inline-block;
		@apply text-center;
	}

	input {
		@apply text-xl;
		@apply p-5;
		@apply rounded-lg;
	}

	h1 {
		@apply font-semibold;
		@apply text-3xl;
		@apply mb-2;
	}

	h2 {
		@apply underline;
		@apply mb-2;
	}

	span {
		@apply text-xl;
	}
}

@layer utilities {
	.border-active:active {
		@apply relative top-px shadow-none;
	}

	.disabled {
		@apply opacity-50;
		@apply cursor-not-allowed;
	}
}

body {
	@apply bg-main-1;
	@apply text-4xl;
}

#root {
	@apply w-screen h-screen;
}
